#menu-button, #theme-button {
  cursor: pointer;
  padding: 8px 12px;
  font-size: 22px;
}

#menu-button:hover, #theme-button:hover {
  filter: invert(100%);
  transition: 0.5s;
  color: var(--fg-color);
}